$primaryModerateBlue: hsl(238, 40%, 52%);
$primarySoftRed: hsl(358, 79%, 66%);
$primaryLightGray: hsl(239, 57%, 85%);
$primaryPaleRed: hsl(357, 100%, 86%);

$secondaryDarkBlue: hsl(212, 24%, 26%);
$secondaryGrayishBlue: hsl(211, 10%, 45%);
$secondaryLightGray: hsl(223, 19%, 93%);
$secondaryVeryLightGray: hsl(228, 33%, 97%);
$secondaryWhite: hsl(0, 0%, 100%);

$pFontSize: 1rem;
$font: 'Rubik', sans-serif;